---
import BaseLayout from "../layouts/BaseLayout.astro"
const posts = Object.values(import.meta.glob('./posts/*.md', { eager: true}))
---

<BaseLayout>
  {
    posts.map((p: any) => {
return (
  <article class="post">
  <h2 class="post-title">
      <a href={p.url}>{p.frontmatter.title}</a>
  </h2>
  <div class="post-meta">Jan 2006 · 4 min read</div>
  <p class="post-excerpt">
      {p.frontmatter.excerpt}
  </p>
  </article>
<hr />
  )
  })
  }
</BaseLayout>
